html, body {
    min-width: 1122px;
    min-height: 1750px;
    margin: 0;
    padding: 0;
}

body {
    background: #555555 url("barbershop-index-grid") no-repeat 50% 3px;
    background-size: 1122px;
}

.main-header {
    margin-bottom: 60px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: aqua;
}

.main-navigation {
    float: left;
    width: 780px;
    min-height: 70px;
}

.user-block {
    float: right;
    width: 150px;
    min-height: 70px;
}

.index-logo {
    width: 368px;
    height: 204px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

}

.features-item {
    float: left;
    width: 300px;
    min-height: 175px;
    margin-right: 20px;
}

.features-item:last-child {
    margin-right: 0;
}

.features {
    margin-bottom: 80px;
}

.index-content-left {
    width: 380px;
    min-height: 330px;
    float: left;
}

.index-content-right {
    width: 300px;
    min-height: 330px;
    float: right;
}

.index-content {
    padding: 50px 80px;
    margin-bottom: 35px;
}

.footer-contacts {
    width: 320px;
    float: left;
    margin-right: 60px;
}

.footer-social {
    width: 180px;
    float: left;
}

.footer-copyright {
    width: 180px;
    float: right;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}