html, body {
    min-width: 1122px;
    margin: 0;
    padding: 0;
}

body {
    background: #000000 url("img/background.png") repeat;
    background-size: auto;
    text-transform: uppercase;
    font-family: "PT Sans narrow", "Arial", sans-serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 14px;
    color: #000000;
}

.price-header {
    margin-bottom: 55px;
    background: #000000;
    color: #ffffff;
}

.price-navigation {
    width: 780px;
    float: left;
    min-height: 70px;
}

.price-navigation a {
    display: block;
    padding: 25px 20px;
    text-decoration: none;
    color: #ffffff;
}

.price-navigation a:hover {
    background: #242424;
}

.price-navigation ul {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.price-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}

.user-block {
    float: right;
    width: 150px;
    min-height: 70px;
}

.login {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 25px 20px;
    padding-left: 50px;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}

.login:hover {
    background-color: #242424;
}

.login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: url("img/spritesocial.png") no-repeat;
    background-position: 0 -106px ;
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1;
}

.price-navigation .logonav {
    float: left;
    width: 111px;
    height: 20px;
    padding-top: 22px;
}

.price-navigation .logonav:hover {
    background: none;
}

.price-navigation .active {
    position: relative;
    background: none;
}

.price-navigation .active::after {
    position: absolute;
    content: "";
    right: 20px;
    left: 20px;
    bottom: 0;
    height: 5px;
    background: #ffffff;
}

.price-navigation .active a:hover {
    background: none;
}

.price-navigation .active span {
    display: block;
    padding: 25px 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.title-2 {
    margin-bottom: 25px;
}

.breadcrubms {
    margin-bottom: 50px;
}

.breadcrubms ul {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrubms li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 18px;
    margin-right: 46px;
}

.breadcrubms a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.breadcrubms a:hover {
    text-decoration: underline;
}

.breadcrubms li::after {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    right: -27px;
    top: 5px;
    background: #000000;
    transform: rotate(45deg);
}

.breadcrubms li:last-child a {
    color: gray;
}

.breadcrubms li:last-child:after {
display: none;
}

.title {
    text-align: center;
    margin-bottom: 65px;
}

.title h1 {
    position: relative;
    z-index: 2;
    display: inline;
    margin: 0;
    padding: 0 25px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    background: url("img/background.png") repeat-x;
}

.title:after {
    position: relative;
    z-index: 1;
    top: -25px;
    display: block;
    content: "";
    border-bottom: 2px solid #000000;

}

.secondary-title {
    margin: 0;
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 30px;
}

.secondary-title-right {
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
    width: 180px;
}

.secondary-title-bottom {
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.left-column {
    width: 240px;
    float: left;
    margin-bottom: 50px;
}

.set {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 38px;
    font-size: 14px;
}

.set a {
    position: relative;
    padding-left: 20px;
    text-decoration: none;
    color: #000000;
}

.set a::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: 0;
    top: 5px;
    background: #000000;
    transform: rotate(45deg);
}

.right-column {
    width: 460px;
    float: right;
}

.price-table {
    width: 100%;
    border: solid 2px #000000;
    border-collapse: collapse;
}

.price-string {
    padding: 8px 15px;
    width: 50%;
    border: solid 2px #000000;
}

.right-string {
    text-align: center;
}

.main-text {
    float: left;
}

.main-column {
    column-count: 2;
    column-gap: 100px;
    column-width: 380px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    vertical-align: top;
    text-align: center;
    font-family: "PT Sans narrow", "Arial", sans-serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background: #663d15;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #ffffff;
    background: #222222 url("img/footer.png") repeat;
    box-shadow: inset 0 20px 40px -2px #000000;
}

.footer-contacts {
    width: 320px;
    float: left;
    margin-right: 60px;
}

.footer-contacts a {
    color: #ffffff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    width: 180px;
    float: left;
    text-align: center;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.footer-copyright {
    float: right;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}

.footer-copyright .btn:hover {
    background: #ffffff;
    color: #000000;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    background: #000000 url("img/spritesocial.png") no-repeat center;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
}

.social-btn-vk {
    background-position: 0 0;
}

.social-btn-fb {
    background-position: -49px 0;
}

.social-btn-inst {
    background-position: -98px 0;
}

.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-vk:hover {
    background-position:0 -63px;
}

.social-btn-fb:hover {
    background-position:-49px -63px;
}

.social-btn-inst:hover {
    background-position:-98px -63px;
}
